:root {
  --body-body-lg-default-font-family: "Inter-Medium", Helvetica;
  --body-body-lg-default-font-size: 14px;
  --body-body-lg-default-font-style: normal;
  --body-body-lg-default-font-weight: 500;
  --body-body-lg-default-letter-spacing: 0px;
  --body-body-lg-default-line-height: 20px;
  --body-body-md-default-font-family: "Inter-Medium", Helvetica;
  --body-body-md-default-font-size: 13px;
  --body-body-md-default-font-style: normal;
  --body-body-md-default-font-weight: 500;
  --body-body-md-default-letter-spacing: 0px;
  --body-body-md-default-line-height: 20px;
  --body-body-md-medium-font-family: "Inter-Medium", Helvetica;
  --body-body-md-medium-font-size: 13px;
  --body-body-md-medium-font-style: normal;
  --body-body-md-medium-font-weight: 500;
  --body-body-md-medium-letter-spacing: 0px;
  --body-body-md-medium-line-height: 20px;
  --body-body-md-semibold-font-family: "Inter-SemiBold", Helvetica;
  --body-body-md-semibold-font-size: 13px;
  --body-body-md-semibold-font-style: normal;
  --body-body-md-semibold-font-weight: 600;
  --body-body-md-semibold-letter-spacing: 0px;
  --body-body-md-semibold-line-height: 20px;
  --body-body-md-underline-font-family: "Inter-Medium", Helvetica;
  --body-body-md-underline-font-size: 13px;
  --body-body-md-underline-font-style: normal;
  --body-body-md-underline-font-weight: 500;
  --body-body-md-underline-letter-spacing: 0px;
  --body-body-md-underline-line-height: 20px;
  --body-body-sm-medium-font-family: "Inter-Medium", Helvetica;
  --body-body-sm-medium-font-size: 12px;
  --body-body-sm-medium-font-style: normal;
  --body-body-sm-medium-font-weight: 500;
  --body-body-sm-medium-letter-spacing: 0px;
  --body-body-sm-medium-line-height: 16px;
  --body-body-sm-semibold-font-family: "SFPro Text-Semibold", Helvetica;
  --body-body-sm-semibold-font-size: 12px;
  --body-body-sm-semibold-font-style: normal;
  --body-body-sm-semibold-font-weight: 400;
  --body-body-sm-semibold-letter-spacing: 0px;
  --body-body-sm-semibold-line-height: 16px;
  --border-focus: 0px 0px 0px 2px rgba(0, 91, 211, 1);
  --heading-heading-3xl-font-family: "Inter-Bold", Helvetica;
  --heading-heading-3xl-font-size: 36px;
  --heading-heading-3xl-font-style: normal;
  --heading-heading-3xl-font-weight: 700;
  --heading-heading-3xl-letter-spacing: -0.5400000214576721px;
  --heading-heading-3xl-line-height: 48px;
  --heading-heading-md-font-family: "Inter-SemiBold", Helvetica;
  --heading-heading-md-font-size: 14px;
  --heading-heading-md-font-style: normal;
  --heading-heading-md-font-weight: 600;
  --heading-heading-md-letter-spacing: 0px;
  --heading-heading-md-line-height: 20px;
  --heading-heading-sm-font-family: "Inter-SemiBold", Helvetica;
  --heading-heading-sm-font-size: 13px;
  --heading-heading-sm-font-style: normal;
  --heading-heading-sm-font-weight: 600;
  --heading-heading-sm-letter-spacing: 0px;
  --heading-heading-sm-line-height: 20px;
  --heading-heading-xl-font-family: "Inter-Bold", Helvetica;
  --heading-heading-xl-font-size: 24px;
  --heading-heading-xl-font-style: normal;
  --heading-heading-xl-font-weight: 700;
  --heading-heading-xl-letter-spacing: -0.20000000298023224px;
  --heading-heading-xl-line-height: 32px;
  --primitive-tokens-border-radius-0: var(--private-primitives-size-0);
  --primitive-tokens-border-radius-200: var(--private-primitives-size-200);
  --primitive-tokens-border-radius-300: var(--private-primitives-size-300);
  --primitive-tokens-color-azure-16: rgba(0, 33, 51, 1);
  --primitive-tokens-color-azure-3: rgba(234, 244, 255, 1);
  --primitive-tokens-color-azure-8: rgba(168, 216, 255, 1);
  --primitive-tokens-color-azure-9: rgba(145, 208, 255, 1);
  --primitive-tokens-color-black-alpha-5: rgba(0, 0, 0, 0.05);
  --primitive-tokens-color-black-alpha-7: rgba(0, 0, 0, 0.08);
  --primitive-tokens-color-black-alpha-9: rgba(0, 0, 0, 0.17);
  --primitive-tokens-color-blue-13: rgba(0, 91, 211, 1);
  --primitive-tokens-color-blue-14: rgba(0, 66, 153, 1);
  --primitive-tokens-color-blue-15: rgba(0, 46, 106, 1);
  --primitive-tokens-color-gray-1: rgba(255, 255, 255, 1);
  --primitive-tokens-color-gray-1-duplicate: rgba(255, 255, 255, 1);
  --primitive-tokens-color-gray-10: rgba(204, 204, 204, 1);
  --primitive-tokens-color-gray-11: rgba(181, 181, 181, 1);
  --primitive-tokens-color-gray-12: rgba(138, 138, 138, 1);
  --primitive-tokens-color-gray-13: rgba(97, 97, 97, 1);
  --primitive-tokens-color-gray-13-duplicate: rgba(97, 97, 97, 1);
  --primitive-tokens-color-gray-14: rgba(74, 74, 74, 1);
  --primitive-tokens-color-gray-15: rgba(48, 48, 48, 1);
  --primitive-tokens-color-gray-16: rgba(26, 26, 26, 1);
  --primitive-tokens-color-gray-2: rgba(253, 253, 253, 1);
  --primitive-tokens-color-gray-3: rgba(250, 250, 250, 1);
  --primitive-tokens-color-gray-4: rgba(247, 247, 247, 1);
  --primitive-tokens-color-gray-6: rgba(241, 241, 241, 1);
  --primitive-tokens-color-gray-8: rgba(227, 227, 227, 1);
  --primitive-tokens-color-gray-8-duplicate: rgba(227, 227, 227, 1);
  --primitive-tokens-color-green-12: rgba(41, 132, 90, 1);
  --primitive-tokens-color-green-13: rgba(19, 111, 69, 1);
  --primitive-tokens-color-green-14: rgba(12, 81, 50, 1);
  --primitive-tokens-color-orange-12: rgba(149, 111, 0, 1);
  --primitive-tokens-color-orange-14: rgba(94, 66, 0, 1);
  --primitive-tokens-color-orange-3: rgba(255, 241, 227, 1);
  --primitive-tokens-color-orange-4: rgba(255, 235, 213, 1);
  --primitive-tokens-color-orange-8: rgba(255, 200, 121, 1);
  --primitive-tokens-color-purple-11: rgba(148, 116, 255, 1);
  --primitive-tokens-color-purple-12: rgba(128, 81, 255, 1);
  --primitive-tokens-color-purple-12-duplicate: rgba(128, 81, 255, 1);
  --primitive-tokens-color-purple-13: rgba(113, 38, 255, 1);
  --primitive-tokens-color-purple-13-duplicate: rgba(113, 38, 255, 1);
  --primitive-tokens-color-purple-14-duplicate: rgba(87, 0, 209, 1);
  --primitive-tokens-color-purple-2: rgba(248, 247, 255, 1);
  --primitive-tokens-color-purple-2-duplicate: rgba(248, 247, 255, 1);
  --primitive-tokens-color-purple-3: rgba(243, 241, 255, 1);
  --primitive-tokens-color-red-12: rgba(229, 28, 0, 1);
  --primitive-tokens-color-red-13: rgba(181, 38, 11, 1);
  --primitive-tokens-color-red-14: rgba(142, 31, 11, 1);
  --primitive-tokens-color-red-15: rgba(95, 21, 7, 1);
  --primitive-tokens-color-red-16: rgba(47, 10, 4, 1);
  --primitive-tokens-color-red-4: rgba(254, 233, 232, 1);
  --primitive-tokens-color-yellow-2: rgba(255, 248, 219, 1);
  --primitive-tokens-space-0: var(--private-primitives-size-0);
  --primitive-tokens-space-050: var(--private-primitives-size-050);
  --primitive-tokens-space-100: var(--private-primitives-size-100);
  --primitive-tokens-space-150: var(--private-primitives-size-150);
  --primitive-tokens-space-200: var(--private-primitives-size-200);
  --primitive-tokens-space-300: var(--private-primitives-size-300);
  --primitive-tokens-space-400: var(--private-primitives-size-400);
  --primitive-tokens-space-500: var(--private-primitives-size-500);
  --private-primitives-size-0: 0px;
  --private-primitives-size-050: 2px;
  --private-primitives-size-100: 4px;
  --private-primitives-size-150: 6px;
  --private-primitives-size-200: 8px;
  --private-primitives-size-300: 12px;
  --private-primitives-size-400: 16px;
  --private-primitives-size-500: 20px;
  --semantic-tokens-border-border-radius-button: var(--primitive-tokens-border-radius-200);
  --semantic-tokens-color-bg-bg: var(--primitive-tokens-color-gray-6);
  --semantic-tokens-color-bg-fill-fill: var(--primitive-tokens-color-gray-1-duplicate);
  --semantic-tokens-color-bg-fill-fill-active: var(--primitive-tokens-color-gray-4);
  --semantic-tokens-color-bg-fill-fill-brand: var(--primitive-tokens-color-gray-15);
  --semantic-tokens-color-bg-fill-fill-brand-active: var(--primitive-tokens-color-gray-16);
  --semantic-tokens-color-bg-fill-fill-brand-disabled: var(--primitive-tokens-color-black-alpha-9);
  --semantic-tokens-color-bg-fill-fill-brand-hover: var(--primitive-tokens-color-gray-16);
  --semantic-tokens-color-bg-fill-fill-brand-selected: var(--primitive-tokens-color-gray-15);
  --semantic-tokens-color-bg-fill-fill-critical: var(--primitive-tokens-color-red-12);
  --semantic-tokens-color-bg-fill-fill-critical-active: var(--primitive-tokens-color-red-14);
  --semantic-tokens-color-bg-fill-fill-critical-hover: var(--primitive-tokens-color-red-13);
  --semantic-tokens-color-bg-fill-fill-critical-selected: var(--primitive-tokens-color-red-14);
  --semantic-tokens-color-bg-fill-fill-disabled: var(--primitive-tokens-color-black-alpha-5);
  --semantic-tokens-color-bg-fill-fill-duplicate: var(--primitive-tokens-color-gray-1);
  --semantic-tokens-color-bg-fill-fill-hover: var(--primitive-tokens-color-gray-3);
  --semantic-tokens-color-bg-fill-fill-info: var(--primitive-tokens-color-azure-9);
  --semantic-tokens-color-bg-fill-fill-selected: var(--primitive-tokens-color-gray-10);
  --semantic-tokens-color-bg-fill-fill-success: var(--primitive-tokens-color-green-12);
  --semantic-tokens-color-bg-fill-fill-success-active: var(--primitive-tokens-color-green-14);
  --semantic-tokens-color-bg-fill-fill-success-hover: var(--primitive-tokens-color-green-13);
  --semantic-tokens-color-bg-fill-fill-transparent-active: var(--primitive-tokens-color-black-alpha-7);
  --semantic-tokens-color-bg-fill-fill-transparent-hover: var(--primitive-tokens-color-black-alpha-5);
  --semantic-tokens-color-bg-surface-surface: var(--primitive-tokens-color-gray-1-duplicate);
  --semantic-tokens-color-bg-surface-surface-caution: var(--primitive-tokens-color-yellow-2);
  --semantic-tokens-color-bg-surface-surface-critical: var(--primitive-tokens-color-red-4);
  --semantic-tokens-color-bg-surface-surface-duplicate: var(--primitive-tokens-color-gray-1);
  --semantic-tokens-color-bg-surface-surface-info: var(--primitive-tokens-color-azure-3);
  --semantic-tokens-color-bg-surface-surface-magic: var(--primitive-tokens-color-purple-2);
  --semantic-tokens-color-bg-surface-surface-magic-duplicate: var(--primitive-tokens-color-purple-2-duplicate);
  --semantic-tokens-color-bg-surface-surface-magic-hover: var(--primitive-tokens-color-purple-3);
  --semantic-tokens-color-bg-surface-surface-warning: var(--primitive-tokens-color-orange-3);
  --semantic-tokens-color-border-border: var(--primitive-tokens-color-gray-8);
  --semantic-tokens-color-border-border-critical-secondary: var(--primitive-tokens-color-red-14);
  --semantic-tokens-color-border-border-focus: var(--primitive-tokens-color-blue-13);
  --semantic-tokens-color-border-border-info: var(--primitive-tokens-color-azure-8);
  --semantic-tokens-color-border-border-magic-secondary: var(--primitive-tokens-color-purple-11);
  --semantic-tokens-color-border-border-magic-secondary-hover: var(--primitive-tokens-color-purple-12-duplicate);
  --semantic-tokens-color-checkbox-bg-surface-disabled: var(--primitive-tokens-color-black-alpha-7);
  --semantic-tokens-color-icon-icon-magic: var(--primitive-tokens-color-purple-12);
  --semantic-tokens-color-input-bg-surface: var(--primitive-tokens-color-gray-2);
  --semantic-tokens-color-input-bg-surface-active: var(--primitive-tokens-color-gray-4);
  --semantic-tokens-color-input-bg-surface-hover: var(--primitive-tokens-color-gray-3);
  --semantic-tokens-color-input-border: var(--primitive-tokens-color-gray-12);
  --semantic-tokens-color-input-border-active: var(--primitive-tokens-color-gray-16);
  --semantic-tokens-color-input-border-hover: var(--primitive-tokens-color-gray-13-duplicate);
  --semantic-tokens-color-text-text: var(--primitive-tokens-color-gray-15);
  --semantic-tokens-color-text-text-brand: var(--primitive-tokens-color-gray-14);
  --semantic-tokens-color-text-text-brand-on-bg-fill: var(--primitive-tokens-color-gray-1);
  --semantic-tokens-color-text-text-brand-on-bg-fill-active: var(--primitive-tokens-color-gray-10);
  --semantic-tokens-color-text-text-brand-on-bg-fill-disabled: var(--primitive-tokens-color-gray-1);
  --semantic-tokens-color-text-text-brand-on-bg-fill-duplicate: var(--primitive-tokens-color-gray-1-duplicate);
  --semantic-tokens-color-text-text-brand-on-bg-fill-hover: var(--primitive-tokens-color-gray-8-duplicate);
  --semantic-tokens-color-text-text-critical: var(--primitive-tokens-color-red-14);
  --semantic-tokens-color-text-text-critical-active: var(--primitive-tokens-color-red-16);
  --semantic-tokens-color-text-text-critical-hover: var(--primitive-tokens-color-red-15);
  --semantic-tokens-color-text-text-disabled: var(--primitive-tokens-color-gray-11);
  --semantic-tokens-color-text-text-emphasis: var(--primitive-tokens-color-blue-13);
  --semantic-tokens-color-text-text-emphasis-active: var(--primitive-tokens-color-blue-15);
  --semantic-tokens-color-text-text-emphasis-hover: var(--primitive-tokens-color-blue-14);
  --semantic-tokens-color-text-text-info-on-bg-fill: var(--primitive-tokens-color-azure-16);
  --semantic-tokens-color-text-text-magic: var(--primitive-tokens-color-purple-14-duplicate);
  --semantic-tokens-color-text-text-magic-secondary: var(--primitive-tokens-color-purple-13-duplicate);
  --semantic-tokens-color-text-text-secondary: var(--primitive-tokens-color-gray-13);
  --semantic-tokens-color-text-text-secondary-duplicate: var(--primitive-tokens-color-gray-13-duplicate);
  --semantic-tokens-color-text-text-warning: var(--primitive-tokens-color-orange-14);
  --semantic-tokens-space-button-group-gap: var(--primitive-tokens-space-200);
  --semantic-tokens-space-card-padding: var(--primitive-tokens-space-400);
  --shadow-100: 0px 1px 0px 0px rgba(26, 26, 26, 0.07);
  --shadow-button-default: ;
  --shadow-button-hover: ;
  --shadow-button-primary: ;
  --shadow-button-primary-critical: ;
  --shadow-button-primary-critical-hover: ;
  --shadow-button-primary-critical-inset: ;
  --shadow-button-primary-inset: ;
  --shadow-button-primary-success-inset: ;
  --shadow-inset-200: ;
  --space-p-space-4: 16px;
  --variable-collection-card-radius-figma-only: var(--primitive-tokens-border-radius-300);
  --variable-collection-color-purple-14: var(--primitive-tokens-color-purple-13);
  --variable-collection-global-orange-orange-04: var(--primitive-tokens-color-orange-4);
  --variable-collection-global-orange-orange-08: var(--primitive-tokens-color-orange-8);
  --variable-collection-global-orange-orange-12: var(--primitive-tokens-color-orange-12);
  --variable-collection-global-orange-orange01: rgba(255, 253, 250, 1);
  --variable-collection-global-orange-orange02: rgba(255, 247, 238, 1);
  --variable-collection-hack-do-not-implement: rgba(0, 0, 0, 0);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-variable-collection-mode="desktop">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-variable-collection-mode="desktop"] {
  --variable-collection-card-radius-figma-only: var(--primitive-tokens-border-radius-300);
}

[data-variable-collection-mode="mobile"] {
  --variable-collection-card-radius-figma-only: var(--primitive-tokens-border-radius-0);
}

[data-variable-collection-mode="increased-density"] {
  --variable-collection-card-radius-figma-only: var(--primitive-tokens-border-radius-300);
}
